@model IEnumerable<PracticaCalifica_ChristianHinojosa.Models.Docente>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-4">Listado de Docentes</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Registrar Docente</a>
</p>

<table class="table table-bordered table-striped mt-3">
    <thead class="thead-dark">
        <tr>
            <th>Apellidos</th>
            <th>Nombres</th>
            <th>Correo</th>
            <th>Activo</th>
            <th style="width:150px;">Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Apellidos</td>
                <td>@item.Nombres</td>
                <td>@item.CorreoCorporativo</td>
                <td>@(item.Activo ? "Sí" : "No")</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning btn-sm">Editar</a>
                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-info btn-sm mt-1">Detalles</a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm mt-1">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
